world-time-zone/src/main/mule/world-time-zone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d7766fb8-eac8-4478-b12e-b5bbfada4039" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1735d962-a13b-4fd9-9207-72f8cf5efc1a" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="c1445aaa-d534-4961-90b8-856bbd30858a" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<flow name="world-time-zoneFlow" doc:id="a8692687-d3fe-48a5-a804-cb72da65a550" >
		<http:listener doc:name="Listener" doc:id="d2e99e31-2e32-433c-9591-f766b7f13fa4" config-ref="HTTP_Listener_config1" path="/time/{reg}/{city}" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request" doc:id="c9e1251c-dda0-4e6a-a71f-8ea304a9e75d" config-ref="HTTP_Request_configuration" path="/api/timezone/{reg}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"reg" : message.attributes.uriParams.reg,
	"city" : message.attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
